.footer{
    background-color: black;
    color: white;
    padding: 20px;
}
.logo{
    width: 120px;
}
.icon{
    display: flex;
    gap:15px;
    color: gray;
}
.icons_img:hover{
    color: white;
    cursor: pointer;
}
p{
     color: gray;
}
.profile_i{
    display: flex;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}