.pro_con{
    width: 100%;
    display: flex;
    margin: 50px 0px;
    /* flex-direction: column; */
    justify-content: center;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro_img{
    max-width: 400px;
    height: 505px;
}
.pro_detail{
    margin: 0px 0px 0px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#box{
    background: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 125px;
    margin-bottom: 50px;
}
.price{
    display: flex;
    gap: 220px;
    margin-top: 12px;
}
.quantity{
    display: flex;
    align-items: center;
}
.quan_box{
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid gray;
    padding: 5px;
    padding-left: 12px;
    border-radius: 4px;
    margin-top: 20px;
}
.quan_btn{
    margin: 0px 10px;
    background: none;
    border: none;
    color: inherit;
}
.add{
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin: 0px 10px;
}
.quan_btn:hover{
    border: 1px solid gray;
    border-radius: 3px;
}



@media(max-width:1020px){
    .pro_con{
        flex-direction: column;
    }
    .pro_detail{
        margin-top: 50px;
        margin-left: 0px;

    }
}
@media(max-width:768px){
    .price{
        gap:50px;
    }
}